body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}
h1{
  flex: 0 1 100%;
  text-align: center;
}

h3{
  margin:0;
  font-weight: 700;
}

a {
  color: #8C8C8C;
  text-decoration: none;
}

button{
  border: none;
}

@media screen and (min-width:480px){
  .contenido-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .entrada{
    flex: 0 1 calc(50% - 1rem);
  }
}

@media screen and (min-width:480px){
  .entrada{
    flex: 0 1 calc(33% - 1rem);
  }
}

.entrada{
  margin-bottom: 1rem;
}

.contenido{
  background-color: white;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

.contenido span{
  color: #db08db;
}

.contenido h3{
  font-size: .9rem;
  line-height: 1.4rem;
  
}

.boton{
  font-size: .9rem;
  background-color: #008fd1;
  color:white;
  padding: .4rem 1rem;
  margin-top: 1rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .formulario-login {
    max-width: 420px;
    padding: 2rem 4rem;
    margin: 1rem auto 4rem auto;
  }
}


form .campo {
  display: flex;
  position: relative;
  margin-bottom: .8rem;
}

form .campo span {
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-transform: uppercase;
}

form .campo span:hover {
  cursor: pointer;
}

form .campo label {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  font-size: .9rem;
  transition: font-size .2s ease, top .2s ease;
}

form .campo input {
  flex: 1;
  padding: 1.3rem 1rem .7rem 1rem;
  border: none;
  border-radius: 5px;
  
}

form .campo input:focus {
  outline: none;
}

form .campo input:focus + label {
  font-size: .6rem;
  top: .5rem;
}

form .submit {
  display: flex;
  margin-top: 2rem;
}

form .submit input[type="submit"] {
  background-color: #008fd1;
  color: #FFFFFF;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 0;
}

form .submit input[type="submit"]:hover {
  cursor: pointer;
}

.contenido-inferior a {
  font-size: .8rem;
}

.contenido-inferior .nuevo-usuario {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
}

.contenido-inferior .nuevo-usuario a {
  font-size: 1rem;
  color: green;
  margin-left: .5rem;
}